@model Dish

<div style="display:flex; justify-content:center; align-content:center;">
    <div>
        <img src="@Model.ImageUrl" width="300" height="300" />
    </div>
    <div style="text-align:center">
        <h1>@Model.Name</h1>
        <h3>@Model.Description</h3>
        <h3>@Model.Kcal kcal</h3>
        <h3>@Model.Price.ToString("c")</h3>
    </div>
</div>


