@model Order

<form asp-controller="Order" asp-action="TakeOrder" method="post" role="form">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="@Model.FirstName"></label>
        <div>
            <input asp-for="@Model.FirstName" />
            <span asp-validation-for="@Model.FirstName"></span>
        </div>
    </div>

    <div>
        <label asp-for="@Model.LastName"></label>
        <div>
            <input asp-for="@Model.LastName" />
            <span asp-validation-for="@Model.LastName"></span>
        </div>
    </div>

    <div>
        <label asp-for="@Model.Email"></label>
        <div>
            <input asp-for="@Model.Email" />
            <span asp-validation-for="@Model.Email"></span>
        </div>
    </div>

    <div>
        <label asp-for="@Model.PhoneNumber"></label>
        <div>
            <input asp-for="@Model.PhoneNumber" />
            <span asp-validation-for="@Model.PhoneNumber"></span>
        </div>
    </div>

    <div>
        <label asp-for="@Model.AddressLine1"></label>
        <div>
            <input asp-for="@Model.AddressLine1" />
            <span asp-validation-for="@Model.AddressLine1"></span>
        </div>
    </div>

    <div>
        <label asp-for="@Model.AddressLine2"></label>
        <div>
            <input asp-for="@Model.AddressLine2" />
            <span asp-validation-for="@Model.AddressLine2"></span>
        </div>
    </div>

    <div>
        <label asp-for="@Model.ZipCode"></label>
        <div>
            <input asp-for="@Model.ZipCode" />
            <span asp-validation-for="@Model.ZipCode"></span>
        </div>
    </div>

    <div>
        <label asp-for="@Model.City"></label>
        <div>
            <input asp-for="@Model.City" />
            <span asp-validation-for="@Model.City"></span>
        </div>
    </div>

    <div>
        <label asp-for="@Model.State"></label>
        <div>
            <input asp-for="@Model.State" />
            <span asp-validation-for="@Model.State"></span>
        </div>
    </div>

    <div>
        <div>
            <input type="submit" value="Order" />
        </div>
    </div>
</form>