@model List<Category>

<a asp-controller="CategoryManagment" asp-action="Create">Create new category</a>

@foreach (var category in Model)
{
    <p>@category.CategoryId</p>
    <p>@category.Name</p>

    <form asp-controller="CategoryManagment" asp-action="Details" asp-route-id="@category.CategoryId" method="get">
        <button type="submit">Details</button>
    </form>

    <form asp-controller="CategoryManagment" asp-action="Edit" asp-route-id="@category.CategoryId" method="get">
        <button type="submit">Edit</button>
    </form>

    <form asp-controller="CategoryManagment" asp-action="Delete" asp-route-id="@category.CategoryId" method="post">
        <button type="submit">Delete</button>
    </form>
}